* {
  box-sizing: border-box;
}

html,
body {
  max-width: 40em;
  margin: 0 auto;
  font: 100%/1.3 helvetica, arial, sans-serif;
}

body {
  padding: 15px;
  color: #000;
  background: #fff;
}

h1 {
  margin: 0 0 .5em;
  font-size: 1.8em;
  font-family: 'Roboto Slab', times, serif;
}

#message1 {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
}

#message2 {
  margin: 1em 0;
  color: #666;
  font-style: italic;
}

.chat {
  position: relative;
  border-radius: 3px;
  margin: 0 0 1em;
  padding: 1em;
}

.chat--progress {
  color: #666;
  font-style: italic;
}

.chat--you {
  margin: 1em 12px 1em 3em;
  background: rgba(100,255,100,.5);
}

.chat--you:before {
  position: absolute;
  top: 18px;
  right: -12px;
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid rgba(100,255,100,.5);
  content: '';
}

.chat--other {
  margin: 1em 3em 1em 12px;
  background: #eee;
}

.chat--other:before {
  position: absolute;
  top: 18px;
  left: -12px;
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 12px solid #eee;
  border-bottom: 8px solid transparent;
  content: '';
}

form {
  margin: 2em 0 0;
  padding: 1em;
  background: #efefef;
}

label {
  display: block;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid #999;
  border-radius: 3px;
  margin: .2em 0 .5em;
  padding: .5em;
  font: 100%/1.3 helvetica, arial, sans-serif;
}

button {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: .5em 1em;
  color: #fff;
  background: #000;
  font: 100%/1.3 helvetica, arial, sans-serif;
}
